:root {
	--blanco: #fff;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 70%;
	margin: auto;
}

header {
	padding: 30px 0;
}


header .logo {
	font-family: 'Righteous', cursive;
	font-weight: normal;
	color: var(--blanco);
	font-size: 60px;
}



/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/39.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 2.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 1.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}
/* Cambio del color fondo del boton y del texto */
.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- reparto ----- ----- ----- */

.reparto {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: var(--blanco);
	font-size: 20px;
	margin-bottom: 0.5em;
}

/* ---- ----- ----- comentario ----- ----- ----- */

.coment {
    background: rgb(44, 45, 50);
    background-size: cover;
 
    display: flex;
    align-items: center;
    flex-direction: column;
   padding: 20px;
    gap: 5px;
   
}

 .contenedorp{
    background-color: rgba(100, 168, 167, 0.116);
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30PX;
border-radius: 20px;


 }

 .comentario-2{
    width: 100%;
    height: auto;
    background-color: rgba(100, 168, 167, 0.116);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    text-transform: capitalize;
 

 }

 

 .comentario {
    background-color: rgba(168, 168, 167, 0.116);
    width: 100%;
    height: 60px;
display: flex;
padding: 0px 0px 0px 20px;
border-radius: 20px;
color: rgb(201, 209, 208);
margin-top: 1%;
align-items: center ;
font-size: 180%;

 }
 
 .contenedor-agg-com{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center ;
    gap: 10px;


 }

 .imgusuario{ 
    width: 30%;
    height: 0%;
display: flex;
justify-content: center;
align-items: flex-start;
 }

 .imgus{
    width: 100%;
   
 }


 .input-com {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
 }


 
#nuevocomentario{
    outline: none;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px 0 10px ;
    font-size: 180%;
    background-color: rgba(255, 243, 243, 0.082); 
    color: rgb(240, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.30);
    transition-duration: 20ms;
}

#nuevocomentario::placeholder{
    color:rgb(210, 220, 220);
}

#nuevocomentario:focus{
    border-bottom: rgb(179, 0, 0);
}
.btn-agg{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;

}
.Enviar{
    padding: 12px;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 20;
    cursor: pointer;
    background-color: rgb(44, 45, 50);
    color: rgb(210, 220, 220);
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.pelicula-principal .titulo {
		font-size: 30px;
	}

	.cartelera {
		font-size: 30px;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 1000%;
	}
}

