<div class="alert alert-info">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h3 routerLink="home"class="cursor-pointer">
                    <img src="/assets/img/logo.png" alt="logo" height="130">
                </h3>
            </div>
            <div class="col-md-2">
                <form (submit)="buscarpeliculas($event)">
                    <input type="text" name="movieTile" class="form-control" autofocus placeholder="Buscar Peliculas"[(ngModel)]="movieTile">
                </form>
            </div>
        </div>
    </div>
</div>





