<div class="row">
    <div class="col-md 4"></div>
    <div class="col-md 4">
        <img src="/assets/img/portada.jpg" alt="portada" height="700">
        <hr>
        <h3 class="text-center"style="font-size: 45px;">Venom</h3>
        <hr>
        <p class="text-center" style="font-size: 22px;">El periodista Eddie Brock intenta desenmascarar al genio científico Carlton Drake, el célebre fundador de la Fundación Vida. Mientras investiga uno de los experimentos de Drake, Brock establece una simbiosis con un ente alienígena que le ofrece superpoderes, pero el ser se apodera de su personalidad y lo vuelve perverso.</p>
        <hr>
        
        <hr>
        <h3 class="text-center"style="font-size: 45px;">Cartelera</h3>
        <hr>
        <hr>
    </div>
    <div class="col-md 4"></div>
</div>




  <div class="row">
    <div class="peli1 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula1.html">
        <img src="/assets/img/1.jpg" width="100%" height="auto" title="QUANTUMANIA">
      </a>
    </div>
    <div class="peli2 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula2.html">
        <img src="/assets/img/2.jpg" width="100%" height="auto" title="SUPER MARIO BROS">
      </a>
    </div>
    <div class="peli3 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula3.html">
        <img src="/assets/img/3.jpg" width="100%" height="auto" title="SHAZAM">
      </a>
    </div>
    <div class="peli4 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula4.html">
        <img src="/assets/img/4.jpg" width="100%" height="auto" title="SIETE REYES DEBEN MORIR">
      </a>
    </div>
    <div class="peli5 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula5.html">
        <img src="/assets/img/5.jpg" width="100%" height="auto" title="CRIMINALES A LA VISTA">
      </a>
    </div>
    <div class="peli6 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula6.html">
        <img src="/assets/img/6.jpg" width="100%" height="auto" title="CREED">
      </a>
    </div>
    <div class="peli7 col-6 col-sm-4 col-md-3">
        <a href="../assets/pruebapelicula/pelicula7.html">
            <img src="/assets/img/7.jpg" width="100%" height="auto" title="GHOSTING">
        </a>
      </div>
      <div class="peli8 col-6 col-sm-4 col-md-3">
        <a href="../assets/pruebapelicula/pelicula8.html">
          <img src="/assets/img/8.jpg" width="100%" height="auto" title="GATO CON BOTAS">
        </a>
    </div>
</div>

<hr>
        <h3 class="text-center"style="font-size: 45px;">Peliculas más Vistas</h3>
        <hr>
        <hr>
        <div class="row">
          <div class="peli1 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula10.html">
              <img src="/assets/img/31.jpg" width="100%" height="auto" title="IRON MAN3">
            </a>
          </div>
          <div class="peli2 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula11.html">
              <img src="/assets/img/11.jpg" width="100%" height="auto" title="THOR RACKNARONG">
            </a>
          </div>
          <div class="peli3 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula12.html">
              <img src="/assets/img/12.jpg" width="100%" height="auto" title="RESIDEN EVIL">
            </a>
          </div>
          <div class="peli4 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula13.html">
              <img src="/assets/img/13.jpg" width="100%" height="auto" title="LA VIEJA GURDIA">
            </a>
          </div>
          <div class="peli5 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula14.html">
              <img src="/assets/img/14.jpg" width="100%" height="auto" title="ESPECTRAL">
            </a>
          </div>
          <div class="peli6 col-6 col-sm-4 col-md-3">
            <a href="../assets/pruebapelicula/pelicula15.html">
              <img src="/assets/img/15.jpg" width="100%" height="auto" title="300 EL ORIGEN ">
            </a>
          </div>
          <div class="peli7 col-6 col-sm-4 col-md-3">
              <a href="../assets/pruebapelicula/pelicula16.html">
                  <img src="/assets/img/16.jpg" width="100%" height="auto" title="PROJECT POWER">
              </a>
            </div>
            <div class="peli8 col-6 col-sm-4 col-md-3">
              <a href="../assets/pruebapelicula/pelicula9.html">
                <img src="/assets/img/17.jpg" width="100%" height="auto" title="LIFE">
              </a>
          </div>
      </div>