<div class="row">
    <div class="col-md 4"></div>
    <div class="col-md 4">
        <img src="/assets/img/portada.jpg" alt="portada" height="700">
        <hr>
        <h3 class="text-center"style="font-size: 45px;">John Wick 4</h3>
        <hr>
        <p class="text-center" style="font-size: 22px;">John Wick descubre un camino para derrotar a la Alta Mesa. Pero para poder ganar su libertad, Wick deberá enfrentarse a un nuevo rival con poderosas alianzas en todo el mundo, capaz de convertir a viejos amigos en enemigos.</p>
        <hr>
        <hr>
        <h3 class="text-center"style="font-size: 45px;">Cartelera</h3>
        <hr>
        <hr>
    </div>
    <div class="col-md 4"></div>
</div>




  <div class="row">
    <div class="peli1 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula1.html">
        <img src="/assets/img/1.jpg" width="100%" height="auto" title="QUANTUMANIA">
      </a>
    </div>
    <div class="peli2 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula2.html">
        <img src="/assets/img/2.jpg" width="100%" height="auto" title="SUPER MARIO BROS">
      </a>
    </div>
    <div class="peli3 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula3.html">
        <img src="/assets/img/3.jpg" width="100%" height="auto" title="SHAZAM">
      </a>
    </div>
    <div class="peli4 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula4.html">
        <img src="/assets/img/4.jpg" width="100%" height="auto" title="SIETE REYES DEBEN MORIR">
      </a>
    </div>
    <div class="peli5 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula5.html">
        <img src="/assets/img/5.jpg" width="100%" height="auto" title="CRIMINALES A LA VISTA">
      </a>
    </div>
    <div class="peli6 col-6 col-sm-4 col-md-3">
      <a href="../assets/pruebapelicula/pelicula6.html">
        <img src="/assets/img/6.jpg" width="100%" height="auto" title="CREED">
      </a>
    </div>
    <div class="peli7 col-6 col-sm-4 col-md-3">
        <a href="../assets/pruebapelicula/pelicula7.html">
            <img src="/assets/img/7.jpg" width="100%" height="auto" title="GHOSTING">
        </a>
      </div>
      <div class="peli8 col-6 col-sm-4 col-md-3">
        <a href="../assets/pruebapelicula/pelicula8.html">
          <img src="/assets/img/8.jpg" width="100%" height="auto" title="GATO CON BOTAS">
        </a>
    </div>
</div>

